  <div class="row">
    <div class="col-md-3">
      <%= form_with(url: services_path, method: :get, local: true, class: 'form-inline my-1 my-lg-0 search-form') do %>
        <%= text_field_tag :query, params[:query], placeholder: "Search services...", class: "form-control mr-sm-2" %>
        <%= submit_tag ("Search") , class:'btn btn-primary '%>
      <% end %>
      <% if @services.any? %>
      <% @services.each_with_index do |service|%>
        <div class="card option-card p-2 m-4 service-card" style="width: 22rem;" data-index="<%= service.id %>">
          <div class="card-body">
            <h5 class="card-title"><%= service.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Average Price: <%= number_to_currency(convert_price(service.average_price, @currency), unit: currency_symbol(@currency)) %></h6>
          </div>
        </div>
      <% end %>
      <div class="ms-5"><%= page_entries_info @services %></div>
      <div class="digg_pagination ms-5"><%= will_paginate @services, inner_window: 1, outer_window: 0, param: :slug %></div>
    </div>
    <div class="col-md-8">
      <div id="active-service-container">
            <%= render partial: 'shared/service', locals: { service: @services.first } %>
      </div>
    </div>
  </div>
<% else %>
  <h2 class="text-center mt-5">No services</h2>
<% end %>

<%= javascript_include_tag 'services', 'data-turbo-track': 'reload', defer: true %>