<h6>Leave a review</h6>
<%= form_for [ @service, @review ] do |form| %>

    <%= form.hidden_field :user_id, value: current_user.id if current_user %>
    <div class="form-group">
        <%= form.label :title, "Summary: " %>
        <%= form.text_field :title, :class=>"form-control" %>
    </div>

    <div class="form-group">
    <br>
        <%= form.collection_select :vehicle_make_name, VehicleMake.all, :name, :name, {prompt: "Select Vehicle Make"}, {class: "form-select", data: { controller: "vehicle"}} %>
    <br>
    </div>

    <div class="form-group" id="make_models_list">
        
    </div>

    <div class="form-group">
        <%= form.label :price, "Amount Paid: " %>
        <%= form.number_field :price, :class=>"form-control" %>
    </div>

    <div class="form-group" >
        <%= form.label :service_provider, "Service Provider: " %>
        <%= select_tag(:service_provider, options_for_select(
            [['Other'],
            ['Mr. Lube'],
            ['Firestone Complete Auto Care'],
            ['Jiffy Lube'],
            ['Goodyear Auto Service'],
            ['Pep Boys'],
            ['Midas'],
            ['Meineke Car Care Centers'],
            ['Valvoline Instant Oil Change'],
            ['Tire Kingdom'],
            ['NTB - National Tire & Battery'],
            ['Monro Auto Service and Tire Centers'],
            ['AAMCO Transmissions & Total Car Care'],
            ['Canadian Tire Auto Service Centre'],
            ['Sears Auto Center'],
            ['Les Schwab Tire Centers'],
            ['Discount Tire'],
            ['Big O Tires'],
            ['Grease Monkey'],
            ['Tire Pros'],
            ["America's Service Station"],
            ['Precision Tune Auto Care'],
            ['Tuffy Tire & Auto Service Center'],
            ['Express Oil Change & Tire Engineers'],
            ['Christian Brothers Automotive'],
            ['Kauffman Tire'],
            ['Honest-1 Auto Care'],
            ['Take 5 Oil Change'],
            ['Christian Brothers Automotive'],
            ['Milex Complete Auto Care/Mr. Transmission'],
            ['Car-X Tire & Auto']], 32
        ), {:class=>"form-select"})  %>
        
    </div>
    

    <div class="form-group">
        <%= form.label :description, "Details (optional): " %>
        <%= form.text_area :description, :class=>"form-control", placeholder: "Describe your experience. (How long did the service take? Did it fix the initial problem you were experiencing?)" %>
    </div>

    <div class="form-group mt-3">
        <%= form.label :date, "Date of service: "%>
        <%= form.date_select :date, :class=>"form-control" %>
    </div>

    <%= form.submit "Submit Review", :class=>"btn btn-primary m-3" %>

<% end %>
