<div class="d-flex aligns-items-center justify-content-center card text-center w-25 position-absolute top-50 start-50 translate-middle p-5">
    <h1>Reset Password</h1>
    
    <%= form_with model: @user, url: password_reset_path(token: params[:token]) do |form| %>
        <% if form.object.errors.any? %>
            <% form.object.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        <% end %>
    
        <div>
            <%= form.label :password, "New Password", :class=>"form-label" %>
            <%= form.password_field :password, :class=>"form-control" %>
        </div>
    
        <div>
            <%= form.label :password_confirmation, "New Password Confirmation", :class=>"form-label" %>
            <%= form.password_field :password_confirmation, :class=>"form-control" %>
        </div>
    
        <div>
            <%= form.submit "Reset Password", :class=>"btn btn-primary m-3" %>
        </div>
    <% end %>
</div>
