<div class="card p-2 m-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1><%= service.title %></h1>
          <h4>Averaging <%= number_to_currency(convert_price(service.average_price, @currency), unit: currency_symbol(@currency)) %></h4>
          <% if service.description %>
            <%= service.description %>
          <% else %>
            <p>No description</p>
          <% end %>
          <h3>Reviews</h3>
          <% if service.reviews.any? %>
            <% service.reviews.order(created_at: :desc).limit(3).reverse_each do |review| %>
                <%= render partial: 'shared/review', locals: { review: review } %>
            <% end %>
            <button class="btn btn-primary ms-1 mt-3"><%= link_to "See all reviews", service_path(service), :class => "dropdown-item" %></button>
          <% else %>
            <p>No reviews yet.</p>
            <button class="btn btn-primary ms-1 mt-3"><%= link_to "Go to service page", service_path(service), :class => "dropdown-item" %></button>
          <% end %>
        </div>
        <div class="col-md-4">
          <h3>Service Information</h3>
          <ul class="list-group">
            <li class="list-group-item">Minimum Price: <%= number_to_currency(convert_price(service.minimum_price, @currency), unit: currency_symbol(@currency)) %></li>
            <li class="list-group-item">Maximum Price: <%= number_to_currency(convert_price(service.maximum_price, @currency), unit: currency_symbol(@currency))  %></li>
            <li class="list-group-item">Most Common Service Provider: Mr. Lube</li>
          </ul>
        </div>
      </div>
    </div>
</div>



