<div class="card mt-3" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title"><%= review.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Review by <%= review.first_name %> <%= review.last_name %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Price paid: $<%= review.price %></h6>
        <p class="card-text"><%= review.description %></p>
    </div>
</div>