<h1><%= @service.title %></h1>

<p>Minimum Price: $<%= @service.minimum_price %></p>
<p>Maximum Price: $<%= @service.maximum_price %></p>
<p>Average Price: $<%= @service.average_price %></p>

<h2>Reviews</h2>
<%= render partial: 'service/review', collection: @service.reviews.reverse %>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<% if user_signed_in? %>
    <%= render partial: 'review/form' %>
<% else %>
    <p><%= link_to "Log in", new_session_path %> to leave a review</p>
<% end %>