<h1><%= @service.title %></h1>

<p>Minimum Price: $<%= @service.minimum_price %></p>
<p>Maximum Price: $<%= @service.maximum_price %></p>
<p>Average Price: $<%= @service.average_price %></p>

<h2>Reviews</h2>
<%= render partial: 'service/review', collection: @service.reviews.reverse %>

<% if user_signed_in? %>
    <%= render partial: 'review/form' %>
<% else %>
    <p><%= link_to "Log in", new_session_path %> to leave a review</p>
<% end %>