<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1><%= @service.title %></h1>
      <h4>Averaging $<%= @service.average_price %></h4>
      <p>Description of the company goes here...</p>
      <h3>Reviews</h3>
      <% if user_signed_in? %>
        <%= render partial: 'review/form' %>
      <% else %>
        <p><%= link_to "Log In", new_session_path%> to leave a review.</p>
      <% end %>
      
      <%= render partial: 'service/review', collection: @service.reviews.reverse %>
    </div>
    <div class="col-md-4">
      <h3>Service Information</h3>
      <ul class="list-group">
        <li class="list-group-item">Minimum Price: $<%= @service.minimum_price %> USD</li>
        <li class="list-group-item">Maximum Price: $<%= @service.maximum_price %> USD</li>
        <li class="list-group-item">Most Common Service Provider: Mr. Lube</li>
      </ul>
    </div>
  </div>
</div>






  